<p>Medical Officer of Health</p>
<p>{{facility.ward.county}}</p>

<p> Date: {{ now | date }}</p>

<p> TO: Kenya MPDB - Institution</p>

<p> RE: Registration of {{facility.name}} - {{facility.code}}</p>

<p> The County Health Management Team of {{facility.ward.county.name}} has inspected the {{facility.facility_type.name}} whose details are below.</p>

<p> <strong>Facility Name:<strong> {{facility.name}} - {{facility.code}}</p>
<p> <strong>Facility Type:<strong> {{facility.facility_type.name}}</p>
<p> <strong>Facility Owner:<strong> {{facility.owner.name}}</p>
<p> <strong>County:<strong> {{facility.ward.county.name}}</p>
<p> <strong>Constituency:<strong> {{facility.ward.constituency.name}}</p>
<p> <strong>Ward:<strong> {{facility.ward.name}} </p>
<p> We request that you register this facility.</p>

<p> The facility details are given on the next page and the inspection report is attached.</p>

<p>Signed</p>
<br />
<p>Medical Officer of Health</p>
<p>{{ facility.ward.county.name }}</p>

<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>

<fieldset>
<legend><h3>Basic Details</h3></legend>
<p><strong>Name: </strong> {{facility.name}}</p>
<p><strong>Master Facility Code: </strong> {{facility.code}}</p>
<p><strong>Abbreviation: </strong> {{facility.abbreviation}}</p>
<p><strong>County: </strong>{{facility.ward.constituency.county.name}}</p>
<p><strong>Constituency: </strong>{{facility.ward.constituency.name}}</p>
<p><strong>Ward: </strong>{{facility.ward.name}}</p>
<p><strong>Open on Public holidays: </strong>{{facility.open_public_holidays | yesno}}</p>
<p><strong>Open on weekends: </strong>{{facility.open_weekends | yesno}}</p>
<p><strong>Open 24 hours a day: </strong>{{facility.open_whole_day | yesno}}</p>
<p><strong>Owner: </strong>{{facility.owner.name}}</p>
<p><strong>Owner category: </strong>{{facility.owner.owner_type.name}}</p>
<p><strong>Facility Type: </strong> {{facility.facility_type.name}}</p>

<p><strong>Number of beds: </strong> {{facility.number_of_beds}}</p>
<p><strong>Number of cots:</strong> {{facility.number_of_cots}}</p>
</fieldset>

<fieldset>
<legend><h3>Location</h3></legend>
<p><strong> Directions: </strong> {{facility.physical_address.location_desc}}</p>
<h3>GPS Coordinates:</h3>
<p><strong>Longitude: </strong>{{longitude}}</p>
<p><strong>Latitude: </strong>{{latitude}} </p>
<p><strong>Source: </strong>{{facility_coordinates.source.name}} </p>
<p><strong>Method: </strong>{{facility_coordinates.method.name}} </p>

</fieldset>
<fieldset>
<h3>Services: </h3>
   <table>
<thead>
    <th>
        Name
    </th>
    <th>
        Category
    </th>
      <th>
        MFL Service Code
    </th>
</thead>
{% for service in services %}
<tr>
    <td>
    {{service.service_name}}
    </td>
    <td>
    {{service.selected_option.service.category.name}}
    </td>
    <td>
    {{service.selected_option.service.code}}
    </td>
<tr>
{% endfor %}
</table>
</fieldset>
<fieldset>
<h3>Officer Incharge</h3>
<table>
<thead>
    <th>
        Name
    </th>
      <th>
        Title
    </th>
      <th>
        Id Number
    </th>
     <th>
        Registration Number
    </th>
</thead>
{% for officer in officers%}
<tr>
    <td>
    {{officer.officer.name}}
    </td>
    <td>
    {{officer.officer.job_title.name}}
    </td>
    <td>
    {{officer.officer.id_number}}
    </td>
    <td>
    {{officer.officer.registration_number}}
    </td>
</tr>
{% endfor %}
</table>
</fieldset>
<fieldset>
<h3>Contacts</h3>
<table>
<thead>
    <th>
        Contact Type
    </th>
      <th>
        Contact
    </th>

</thead>
{% for contact in contacts%}
<tr>
    <td>
    {{contact.contact.contact_type.name}}
    </td>
    <td>
    {{contact.contact.contact}}
    </td>
</tr>
{%endfor%}
</table>
</fieldset>
<fieldset>
<h3>Community Health Units </h3>
<table>
<thead>
    <th>
        Code
    </th>
      <th>
        Name
    </th>
      <th>
        Operation Status
    </th>
     <th>
        House Holds Monitored
    </th>
</thead>
{% for chu in chus %}
<tr>
    <td>
    {{chu.code}}
    </td>
    <td>
    {{chu.name}}
    </td>
    <td>
    {{chu.status.name}}
    </td>
    <td>
    {{chu.households_monitored}}
    </td>
</tr>
{% endfor %}
</table>
</fieldset>
