{% load mfl_none_filter %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<style type="text/css">
.col-xs-12 {
    width: 100% !important;
}
.col-xs-6 {
    width: 50% !important;
}
.fs-20{
    font-size: 20px;
}
.fs-18{
    font-size: 18px;
}
.fs-16{
    font-size: 16px;
}
.fs-14{
    font-size: 14px;
}
.fs-13{
    font-size: 13px;
}
.fw-600{
    font-weight: 600;
}
.fw-500{
    font-weight: 500
}
.font-latolight{
    font-family: 'Lato Light', sans-serif;
}
.font-lato{
    font-family: 'Lato', sans-serif;
}
.font-arial{
    font-family: "Arial", Sans-serif;
}
.row{
    margin-left: -15px;
    margin-right:-15px;
}
.bg-blue {
    background-color: #F1F1F4;
}
.content-card {
  padding: 5px 10px 8px 10px;
  border: 1px solid transparent;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.text-muted{
    color: #666666;
}
.text-white{
    color: #FFFFFF;
}
.text-balck{
    color: #000000;
}
.word-wrap {
    width: 300px;
    word-wrap: break-word;
}
</style>
<body class="font-latolight" style="font-size: 14px;">
<div class="row">
<h3 class="font-arial fs-20" style="padding-top: 10px; padding-left: 10px; margin-bottom: 0px;">
Facility Details
</h3>
<div class="col-xs-12 content-card" style="width: 100%; margin-top: 15px;">
    <h4 class="font-arial fs-20">
        Basic Details
    </h4>
    <div style="padding: 2px; margin-top: -15px;">
    <p style="margin-top: -5px;">
        <span><span class="text-black fw-600">Name:</span> {{facility.name}}</span>
    </p>
    <p style="margin-top: -10px;">
        <span><span class="text-black fw-600">Code:</span> {{facility.code}}</span>
    </p>
    <p style="margin-top: -10px;">
        <span><span class="text-black fw-600">Abbreviation:</span> {{facility.abbreviation | mfl_bool_none_date_filter}}</span>
    </p>
    <p style="margin-top: -10px;">
        <span><span class="text-black fw-600">Type:</span> {{facility.facility_type.name}}</span>
    </p>
    <p style="margin-top: -10px;">
        <span><span class="text-black fw-600">Owner Category:</span> {{facility.owner.owner_type.name}}</span>
    </p>
    <p style="margin-top: -10px;">
        <span><span class="text-black fw-600">Owner:</span> {{facility.owner.name}}</span>
    </p>
    <p style="margin-top: -10px;">
        <span><span class="text-black fw-600">No. of Beds:</span> {{facility.number_of_beds | mfl_bool_none_date_filter}}</span>
    </p>
    <p style="margin-top: -10px;">
        <span><span class="text-black fw-600">No. of Cots:</span> {{facility.number_of_cots | mfl_bool_none_date_filter}}</span>
    </p>
    <p style="margin-top: -10px;">
        <span><span class="text-black fw-600">Open on Public Holidays: </span> {{facility.open_public_holidays | yesno}}</span>
    </p>
    <p style="margin-top: -10px;">
        <span><span class="text-black fw-600">Open on Weekends: </span> {{facility.open_weekends | yesno}}</span>
    </p>
    <p style="margin-top: -10px;">
        <span><span class="text-black fw-600">Open 24 hours: </span> {{facility.open_whole_day | yesno}}</span>
    </p>
    <p style="margin-top: -10px;">
        <span><span class="text-black fw-600">Open Late Night: </span> {{facility.open_late_night | yesno}}</span>
    </p>
    <p class="word-wrap" style="margin-top: -10px;">
        <span><span class="text-black fw-600">County:</span> {{facility.ward.county.name}}</span>
    </p>
    <p class="word-wrap" style="margin-top: -10px;">
        <span><span class="text-black fw-600">Constituency:</span> {{facility.ward.constituency.name}}</span>
    </p>
    <p class="word-wrap" style="margin-top: -10px;">
        <span><span class="text-black fw-600">Ward:</span> {{facility.ward.name}}</span>
    </p>
    <p class="word-wrap" style="margin-top: -10px;">
        <span><span class="text-black fw-600">Nearest Town/Shopping Center:</span> {{facility.town.name}}</span>
    </p>
    </div>
</div>
<div class="col-xs-12 content-card" style="width: 100%; margin-top: -30px;">
    <h4 class="font-arial fs-20">
        Location
    </h4>
    <br><br>
    <div style="padding: 2px; margin-top: -35px;">

        <p style="margin-top: -10px;">
            <span><span class="text-black fw-600">Longitude:</span> {{longitude | mfl_bool_none_date_filter}}</span>
        </p>
        <p style="margin-top: -10px;">
            <span><span class="text-black fw-600">Latitude:</span> {{latitude | mfl_bool_none_date_filter}}</span>
        </p>
        <p style="margin-top: -10px;">
            <span><span class="text-black fw-600">Directions:</span> {{facility.location_desc | mfl_bool_none_date_filter}}</span>
        </p>
    </div>
</div>
<div class="col-xs-12 content-card" style="width: 100%; margin-top: -30px;">
    <h4 class="font-arial fs-20">
        Facility Contacts
    </h4>
    <div style="padding: 2px; margin-top: -25px;">
    {% if contacts %}
    {% for contact in contacts%}
        <div style="margin-top: 5px; word-wrap: break-word;">
            <span><span class="text-black fw-600 fs-13">{{contact.contact.contact_type.name}}:</span> {{contact.contact.contact}}</span>
        </div>
    {%endfor%}
    {% else %}
        <p>No Facility Contacts Available</p>
    {% endif %}
    </div>
</div>

<div class="col-xs-12 content-card" style="width: 100%; margin-top: -20px;">
    <h4 class="font-arial fs-20">
        Facility Officer In-charge
    </h4>
    <div style="padding: 2px; margin-top: -35px;">
        <p>
            <span style="margin-bottom: 5px;"><span class="text-black fw-600">Name:</span> {{facility.officer_in_charge.name |mfl_bool_none_date_filter}}</span>
        </p>
        <p style="margin-top : -10px;">
            <span style="margin-bottom: 5px;"><span class="text-black fw-600">Registration/License No. :</span> {{facility.officer_in_charge.reg_no | mfl_bool_none_date_filter}}</span>
        </p>
        <p style="margin-top : -10px;">
            <span><span class="text-black fw-600">Title:</span> {{facility.officer_in_charge.title_name | mfl_bool_none_date_filter}}</span>
        </p>
    </div>
</div>
<div class="col-xs-12 content-card" style="width: 100%; margin-top: -20px;">
    <h4 class="font-arial fs-20">
        Community Health Units
    </h4>
    {% if chus %}
    <table style="margin-top: -25px;">
        <thead>
            <th>
                Code
            </th>
              <th>
                Name
            </th>
              <th>
                Operation Status
            </th>
             <th>
                House Holds Monitored
            </th>
        </thead>
        <tbody>
            {% for chu in chus %}
            <tr>
                <td>
                {{chu.code}}
                </td>
                <td>
                {{chu.name}}
                </td>
                <td>
                {{chu.status.name}}
                </td>
                <td>
                {{chu.households_monitored | mfl_bool_none_date_filter}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p style="margin-top: -25px;">Not Available</p>
    {% endif %}
</div>
<div class="col-xs-12 content-card" style="width: 100%; margin-top: -25px; margin-bottom: 20px;">
    <h4 class="font-arial fs-20">
        Facility Services
    </h4>
    {% if services %}
    <div class="col-xs-12 content-card" style="padding: 2px; margin-bottom: 20px; margin-top: -35px;">
        <p>
            <span style="float: left; width: 350px; margin-bottom: 5px;"><span class="text-black fw-600">Name</span></span>
            <span style="float: right; width: 250px; margin-bottom: 5px;"><span class="text-black fw-600">Service Option</span></span>
        </p>
        {% for service in services %}
        <p>
            <span style="float: left; width: 350px; margin-bottom: 5px;"><span class="text-black fw-500">{{service.service.name}}</span></span>
            <span style="float: right; width: 250px; margin-bottom: 5px; padding-left: 10px;"><span class="text-black fw-500">
                {% if service.option.value%}
                {{service.option.value}}
                {% else %}
                Yes
                {%endif%}
            </span></span>
        </p>
        {% endfor %}
    </div>
    {% else %}
    <p style="padding: 2px; margin-top: -35px;">Not Available</p>
    {% endif %}
</div>
</div>
</body>
</html>
