# DO NOT USE THESE IN PRODUCTION!
DATABASE_URL=postgres://mfl:mfl@localhost:5432/mfl
SECRET_KEY=p!ci1&ni8u98vvd#%18yp)aqh+m_8o565g*@!8@1wb$j#pj4d8
DEBUG=False

# Use real email settings here e.g from Amazon SES
EMAIL_HOST=''
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
