# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
coverage

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/
*/docs/_build/

# PyBuilder
target/

# IDEs
.idea/
*/db.sqlite3


# clonedigger
clonedigger.html

# Ignore files that contain secrets that should not be on git
.pypirc

.tox/*
.coverage
build/
dist/
htmlcov/

# We have a fab task that creates this file
# We can always recreate it
mfl_models_graph.png

# Do not store vagrant runtime stuff in git
*.vagrant*
.vagrant/

# This one "fixed" some truly weird behavior from the ansible playbooks
# It was a lazy fix; should have been better to debug the odd behavior
/api/

# Don't track uploads in git
*media*

# env files store config stuff
.env

# IPython notebooks, used to experiment on stuff
*.ipynb

# Temp file
.fab_tasks~
static/*
data/data/approvals/*
data/data/demo/*
data/data/facilities/*
data/data/geocodes/*
data/data/last/*
data/data/setup/*
celerybeat-schedule
celerybeat.pid
