
# This configuration allows the root user to log in as postgres with
# `psql -U postgres` and no password

# MAPNAME       SYSTEM-USERNAME         PG-USERNAME
root_as_postgres    root        postgres
root_as_postgres    postgres    postgres
