<h4>Hi {{first_name}},</h4>
<p>A user account linked to your email has been created on the Master Facility List Kenya (MFL).</p>
<p>The email and password to login to the MFL are as given below:</p>
<p>Email: {{email}}</p>
<p>Employee Number: {{employee_number}}</p>
<p>Password: {{user_password}}</p>

<p>Click on the link given below to login to MFL.</p>
<a href="{{login_url}}">Login to MFL</a>

<h4>Note:</h4>

<p style="padding-left:10px;">1. You will be required to change your password once you log in for the first time.</p>
<p style="padding-left:10px;">2. You can use either your email or your employee number to login to MFL.</p>

<p>If you have issues regarding this information contact the MFL team using the email <a href="helpdesk@ehealth.or.ke">helpdesk@ehealth.or.ke</a></p>
<br>

<p>Warm Regards,</p>

<p>The MFL Team <a href="ehealth.or.ke">ehealth.or.ke</a></p>
