<h4>Hi {{user.first_name}},</h4>
<p>A user acount linked to your email has been created on the Master Facility List Kenya (MFL).</p>
<p>The email and password to login to the MFL are as given below:</p>
    <p>Email: {{user.email}}</p>
    <p>Password: {{user_password}}</p>


<p>Click on the link given below to login to MFL.</p>
<a href="{{login_url}}">Login to MFL</a>

<p>If you have issues regarding this information contact the MFL team using the email <a href="helpdesk@ehealth.or.ke">helpdesk@ehealth.or.ke</a></p>
<br>

<p>Warm Regards,</p>
<p>The MFL Team <a href="ehealth.or.ke">ehealth.or.ke</a></p>
