[program:mfl_api]
command=/opt/mfl_api_virtualenv/bin/gunicorn -w 3 --timeout=300 --graceful-timeout=300 config.wsgi:application
directory=/opt/mfl_api
user=nobody
autostart=true
autorestart=true
redirect_stderr=true
