{% load mfl_none_filter %}
{% load humanize %}

<html>
<body>

<!-- Start list endpoint data-->
{% if data.results %}
<h2>{{title}}</h2>
<hr>
    {% for value in data.results %}

    <hr>
        {% for x, y in value.items %}
            <p><strong>{{x}}: </strong>{{y | mfl_bool_none_date_filter}}</p>

        {% endfor %}
    {% endfor %}
{% else %}

<!-- End list endpoint data-->

<!-- Start detail endpoint data-->
<h2>{{title}}</h2>

<hr>

    {% for x, y in data.items %}
        {% if not y.0.items %}
            <p><strong>{{x}}: </strong>{{y | mfl_bool_none_date_filter}}</p>

        {%  else %}
                    <h4>{{x}}</h4>

                    {% for k in y %}

                        <table>
                        {% for q, p in k.items %}
                        <tr>
                            <td><strong>{{q}}: </strong>{{p | mfl_bool_none_date_filter}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endfor %}
        {% endif %}


        {% endfor %}

{%  endif %}

<!-- End detail endpoint data-->
</body>
</html>
